<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-md-3">
      <p class="lead">Candyshop</p>
      <div class="list-group">
        <a href="/categories/1" class="list-group-item">Dutch candy</a>
        <a href="/categories/2" class="list-group-item">Japanese candy</a>
        <a href="/categories/3" class="list-group-item">American candy</a>
        <a href="/categories/4" class="list-group-item">Chocolate</a>
      </div>
    </div>

    <div class="col-md-9">

      <div class="row carousel-holder">

        <div class="col-md-12">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-slide-to="0" class="active"></li>
              <li data-slide-to="1"></li>
              <li data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img class="slide-image" src="http://healingwarriorsprogram.org/wp-content/uploads/2015/04/golden-ticket-candy-900x300.jpg" alt="">
              </div>
              <div class="item">
                <img class="slide-image" src="http://www.23events.com.au/upl/website/candy-buffets/candymainpicforsite_srcset-large.jpg" alt="">
              </div>
              <div class="item">
                <img class="slide-image" src="http://www.nandemobox.com/wp-content/uploads/2014/11/snackbox.png" alt="">
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <img src="http://jamin-sc.tritac.com/prodimg/partners/89/19186.jpg?width=190&height=190" alt="">
            <div class="caption">
              <h4 class="pull-right">2 Euro</h4>
              <h4><a href="/products/11">Yan Yan Vanilla</a>
              </h4>
              <p>Delicous biscuit sticks from the popular Japanese brand Meji. This product comes with a cup with delicous dipping sauce</p>
            </div>
            <div class="ratings">
              <p class="pull-right">15 reviews</p>
              <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <img src="http://jamin-sc.tritac.com/prodimg//productimages/229369.jpg?width=190&height=190" alt="">
            <div class="caption">
              <h4 class="pull-right">50 Euro</h4>
              <h4><a href="/products/25">Chocolateflikken birth boy</a>
              </h4>
              <p>Celebrate the birth of a boy with these delicious things! This is for celebrating at companies</p>
            </div>
            <div class="ratings">
              <p class="pull-right">12 reviews</p>
              <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <img src="http://jamin-sc.tritac.com/prodimg//productimages/18449.jpg?width=190&height=190" alt="">
            <div class="caption">
              <h4 class="pull-right">2,50 Euro</h4>
              <h4><a href="/products/29">Chocololly mustache</a>
              </h4>
              <p>Mr.Moustache! Funny and sweet milkchocolate lolly's in the shape of a mustache.</p>
            </div>
            <div class="ratings">
              <p class="pull-right">31 reviews</p>
              <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </p>
            </div>
          </div>
        </div>

<!-- /.container -->

<div class="container">

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Candyshop</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->


</body>

</html>
