<h3>Minimum order</h3>
<p>$25 on all US orders. Other minimums apply to Dutch orders.</p>

<h3>Accepted payment methods</h3>
<p>Credit Card: Visa, Mastercard, American Express & Discover (Note: We are not able to accept International Credit Cards)</p>
<p>PayPal</p>
<p>Check or Money Order: Make sure to include your order number on the check or money order. Your order will not be released until your payment has been received and cleared. This method increases the time required between when you place your order online and when you will receive your products.</p>

<h3>Return policy</h3>
All return/refund requests must be made to our Customer Care department within 10 business days of receipt of your order.

<h3>Shipping policy</h3>
<p>We provide the following delivery options (we do not ship to a PO Box):</p>
<p>5 – 8 Business Days: Shipped via UPS Ground.</p>
<p>3 – 4 Business Days: Shipped via UPS 2 Day.</p>
